/* Config */
@import "reset.css";

/* Screens */
@import "screens/greet.css";
@import "screens/index.css";
@import "screens/whoami.css";
@import "screens/skills.css";
@import "screens/projects.css";
@import "screens/background.css";

/* Components */
@import "components/menu.css";
@import "components/animations.css";
/* 
header
footer
quotes 
*/

* {
  box-sizing: border-box;
}
/* #D8D1EA */
body {
  display: flex;
  justify-content: center;

  color: rgba(0, 0, 0, 0.9);
}

#container {
  width: 80vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

#window {
  background-color: aliceblue;
  border-radius: 50px;
  width: 98%;
  height: 72%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

#screen {
  width: 85%;
  height: 81%;
  border: 2px solid salmon;
  overflow: hidden;
}

.page {
  width: 100%;
  height: 100%;
}

.showText {
  animation: 2s ease-in-out showText;
}
