#whoAmI section {
  width: 80%;
  height: 80%;

  margin: auto;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.whoAmI__image {
  border-radius: 50%;
  border: 0.2em inset rgba(169, 175, 253, 0.5);
  padding: 0.8%;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  margin-right: 4%;
}
.whoAmI__introduce {
  width: 72%;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 6%;
  border-radius: 25px;
  padding: 2% 0 2% 2%;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.whoAmI__introduce h2 {
  color: var(--mainColor);
  font-size: 3em;
}
.whoAmI__introduce h4 {
  text-indent: 40px;
}
.whoAmI__introduce ol {
  text-indent: 50px;
}
.whoAmI__introduce ol > li {
  line-height: 200%;
}
.whoAmI__introduce ol li:last-child a {
  outline: none;
  color: var(--baseColor);
}
