#window {
  background-color: aliceblue;
  border-radius: 50px;
  width: 98%;
  height: 72%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: 12px 12px 10px -3px rgba(0, 0, 0, 0.2);
}
