@keyframes showText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes angleHover {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-50px);
  }
  /* 50% {
    transform: translateY(0);
  } */
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes menuBtnHover {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-16%);
  }
}
@keyframes menuBtnLeave {
  from {
    transform: translateX(-16%);
  }
  to {
    transform: translateX(0%);
  }
}
